prova
quast_results
kmer_15
kmer_21
kmer_22
kmer_23
kmer_24
kmer_25
kmer_26
kmer_27
kmer_28
kmer_29
kmer_16
kmer_17
kmer_18
kmer_19
kmer_20
kmer_1
kmer_2
kmer_3
kmer_4
kmer_5
kmer_6
kmer_7
kmer_8
kmer_9
kmer_10
kmer_11
kmer_12
kmer_13
kmer_14
